// Mobile
@media screen and (max-width: 739px) {
    //Page 1
    #section0 {
        .heading {
            &__tag {
                line-height: 18px;
                margin-top: 88px;
            }
        }
    }
    .fullpage {
        &-ele1 {
            &::before {
                top: auto;
                bottom: 60%;
                height: 1000px;
                border-radius: 100%;
                -webkit-transform: translate3d(-50%, 100%, 0);
                transform: translate3d(-50%, 100%, 0);
                width: 1000px;
                left: 40%;
            }
        }
        &-header {
            top: 22%;
            width: 100%;
            display: flex;
            justify-content: center;
            left: 0;
            &--bottom {
                .heading {
                    margin-top: 90%;
                    margin-left: 37%;
                    &__tag {
                        span {
                            font-size: 20px;
                        }
                    }
                    &-animation {
                        h2 {
                            font-size: 35px;
                        }
                    }
                }
            }
        }
        &-content {
            p {
                line-height: 25px;
                margin: 3px auto;
            }
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 15px;
            top: 80%;
            text-align: center;
            font-size: 18px;
        }
        &-ele7 {
            top: 22%;
            left: 32%;
            width: 200px;
            height: 200px;
        }
        &-ele3 {
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #00000070;
            }
        }
        &-grid {
            width: 100%;
            &__number {
                font-size: 18px;
                line-height: 18px;
                margin-top: -15px;
            }
            &__title {
                color: #fff;
                font-weight: 300;
                font-size: 16px;
            }
        }
        &-text {
            font-size: 16px;
            width: 100%;
        }
        &-number {
            top: 38%;
            &__icon {
                width: 150px;
                height: 150px;
                svg {
                    width: 100px;
                    height: 100px;
                }
            }
            &__count {
                font-size: 24px;
            }
            &__title {
                font-size: 14px;
            }
        }
    }
    .heading {
        // font-size: 27px;
        // line-height: 27px;
        font-size: 70px;
        line-height: 65px;
        &__tag {
            span {
                font-size: 20px;
            }
            text-align: left;
            line-height: 15px;
        }
        h2 {
            font-size: 70px;
            line-height: 0;
        }
        .text {
            &-min {
                span {
                    font-size: 14px;
                }
            }
        }
        &__number {
            span {
                // right: -13px;
                right: -15px !important;
                bottom: 5px;
            }
        }
    }

    //Page 2
    #section1 {
        .fullpage {
            &-content {
                &__big {
                    font-size: 34px;
                }
            }
            &-container {
                p {
                    &:nth-child(2) {
                        display: block;
                        margin: 5px auto;
                    }
                }
            }
        }
    }

    // Page 3 
    #section2 {
        .fullpage {
            &-header {
                // -webkit-transform: scale(1.5) translateX(-50px);
                // transform: scale(1.5) translateX(-50px);
                top: 20%;
                opacity: 0.1;
                .heading {
                    &__tag {
                        line-height: 0;
                    }
                    &__number {
                        top: 45%;
                        right: 10%;
                        position: absolute;
                        font-size: 100px;
                    }
                }
            }
        }
    }

    %full-page
            .fullpage {
                &-header {
                    top: auto;
                    left: 10px;
                    width: auto;
                    .heading {
                        margin-top: auto;
                        &__tag {
                            font-size: 16px;
                            letter-spacing: 0px;
                        }
                        &__number {
                            font-size: 40px;
                            line-height: 1;
                        }
                    }
                }
            }

    // Page 4
    #section3 {
        @extend %full-page;
    }

    // Page 5
    #section4 {
        @extend %full-page;
        .fullpage {
            &-number {
                &__count {
                    font-size: 88px;
                }
            }
        }
    }

    // Page 6
    #section5 {
        .heading {
            &__tag {
                font-size: 16px;
                line-height: 16px;
                text-align: center;
            }
            &__number {
                font-size: 36px;
                line-height: 36px;
            }
        }
        h2 {
            font-size: 14.6px;
            font-weight: 400;
            line-height: 20px;
            margin: 35px 12px 5px;
            letter-spacing: 1px;
        }
    }
}

// Tablet
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .fullpage {
        &-content {
            margin-right: -50px;
        }
        &-grid {
            &__number {
                font-size: 25px;
                padding: 4px;
                margin-top: -31px;
            }
        }
    }
}